.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: #fff;
  padding-top: 20px;
  z-index: 100;
}

.side-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-menu ul li {
  padding: 15px 20px;
  border-bottom: 1px solid #444;
}

.side-menu ul li a {
  color: #fff;
  text-decoration: none;
}

.side-menu ul li a:hover {
  color: #f00;
}

.side-menu ul li.active {
  background-color: #444;
}

.side-menu ul li.active a {
  color: #f00;
}

.side-menu h2 {
  padding: 20px;
  margin: 0;
  font-size: 1.5em;
  background-color: #444;
}

.side-menu__close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
  background-color: red;
  border: none;
}
.side-menu__new {
  position: absolute;
  bottom: 20px;
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
  background-color: green;
  border: none;
  padding: 10px 20px;
  width: 100%;
}

.side-menu__new button {
  background-color: green;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}

.side-menu__new button:hover {
  background-color: #0a0;
}

.disabled {
  display: none;
}

.agenda__list {
  margin-left: 250px;
  margin-right: 0px;

  padding: 20px;
  width: 100vw;
  height: auto;
}

.agenda__list h2 {
  margin: 0;
}

.agenda__area {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}

.agenda__item {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.agenda__item__tag {
  color: #999;
  font-size: small;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
}

.agenda__item h3 {
  margin: 0;
}

.agenda__item__description {
  margin: 10px 0;
}

.agenda__item__number {
  font-size: 0.8em;
  color: #999;
}

.agenda__item__actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.agenda__item__actions button {
  background-color: #f00;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}
